<h1>LSA Art Survey</h1>
<div>
  <%= render 'layouts/display_info_text', location: 'home' %>
</div>

<div class="flex w-full justify-center mt-5">
  <%= link_to "View Catalog", art_items_path, class: "primary_button" unless !user_signed_in? %>
</div>
