<%= button_to user_saml_omniauth_authorize_path, class: "mt-10", data: {turbo: "false"} do %>
  <div id="maincontent" class="focus:ring focus:ring-offset-2 focus:ring-blue-300 inline-block w-full bg-blue-umblue border border-transparent rounded-md py-3 px-8 font-medium text-yellow-umyellow hover:bg-gray-700 sm:w-auto mb-10 sm:mb-0" href="#" tabindex="0">Sign In To Continue</div>
<% end %>