<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Accesses</h1>
    <%= link_to 'New access', new_access_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>
  <table class="table-auto">
    <thead>
      <tr>
        <th>Permission</th>
        <th>Uniqname</th>
        <th>Updated by</th>
      </tr>
    </thead>
    <tbody>
    <div id="accesses" class="min-w-full">
      <%= render @accesses %>
    </div>
    </tbody>
  </table>
</div>
