<div class="w-full">

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Appraisal types</h1>
    <%= link_to 'New appraisal type', new_appraisal_type_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="appraisal_types" class="min-w-full">
    <%= render @appraisal_types %>
  </div>
</div>
