<button aria-controls="mobile-menu" aria-expanded="false" class="inline-flex items-center justify-center p-2 align-middle mt- text-gray-400 hover:text-yellow-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-blue-200" data-action="click->dropdown#toggle click@window->dropdown#hide" type="button">
<span class="sr-only">Open main menu</span>
<!--
Icon when menu is closed.
Heroicon name: outline/menu
Menu open: "hidden", Menu closed: "block"
-->
<svg aria-hidden="true" class="block h-9 w-9" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
<!--
Icon when menu is open.
Heroicon name: outline/x
Menu open: "block", Menu closed: "hidden"
-->
</svg>
<svg aria-hidden="true" class="hidden h-9 w-9" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
<path d="M6 18L18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></path>
</svg>
</button>